{% load i18n %}

<div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="brand" href="{% url home %}">{% trans 'Zman' %}</a>         
       <ul class="nav">
        {% if user.is_authenticated %}
          <li><a href="{% url owe_zman %}">{% trans 'Give' %}</a></li>
          <li><a href="{% url pay_zman %}">{% trans 'Pay' %}</a></li>
        {% else %}
        {% endif %}
      </ul>
      <ul class="nav pull-right">
        {% if user.is_authenticated %}
          <li><a href="{% url logout %}">{% trans 'Logout' %}</a></li>
        {% else %}
          <li><a href="{% url socialauth_begin "twitter" %}">{% trans 'Login' %}</a></li>
        {% endif %}
      </ul>
     </div>
   </div>
 </div>